<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header><h1>Music App</h1></header>
      <h3>
          <form action="<%= bands_url %>" method="GET">
              <input type="submit" value="Home">
          </form>
      </h3>
      <h4>
        <% if logged_in? %>
          <label> Logged in as: <%= current_user.email %></label>
          <form action="<%= session_url %>" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="submit" value="Log Out">
          </form>
        <% end %>
      </h4>
    <%= yield %>
  </body>
</html>
